body {
	background: #4DB2E4;
	font-family: Lato, sans-serif;
}
hr {
	margin: 2px 0px 20px 0px;
}
.GameBoard {
	position: relative;
	top: 60px;
	font-family: 'Roboto Slab', sans-serif;
}
.PlayerOneBoard {
	position: relative;
	margin: auto;
	font-size: 28px;
}
.PlayerOneBoard_number {
	background-color: none;
	padding: 5px;
}
.PlayerTwoBoard {
	font-size: 28px;
	left: 26px;
	position: relative;
	width: 500px;
}
.PlayerTwoBoard_number {
	background-color: none;
	padding: 5px;
}
.NumberBox {
	padding: 5px;
	border: solid 1px #000;
	width: 32px;
	height: 32px;
	background: #fff;
}
.NumberBox_active {
	background: #F5CC29;
	animation: highlightPulse 1s infinite;
}
.NumberBox_inactiveRow {
	background: #DFDFDF;
}
@keyframes highlightPulse {
	0% {
		background: #F5CC29;
	}
	50% {
		background: #FFF;
	}
	100% {
		background: #F5CC29;
	}
}
.PlayControls {
	position: absolute;
	right: 80px;
	top: 0px;
	text-align: center;

	&.cpuPlaying {
		display: none;
	}
	&.playerTwo {
		top: 230px;
	}
}
.PlayControls_button {
	font-size: 30px;
	display: inline-block;
	padding: 30px;
	width: 100px;
	margin: auto;
	margin-right: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	background: #53FFD3;
	border: solid 1px #58A18A;
}
.Game_header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 33px;
	background: #444;
	padding: 8px;
	z-index: 1000;
	color: #fff;

	.Game_logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}

	.Game_title {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 22px !important;
		vertical-align: middle;
		margin-top: 3px;
		-webkit-font-smoothing: subpixel-antialiased;
	}
}
.Game_turnTransition {
	position: fixed;
	top: 100px;
	text-align: center;
	background: #000;
	color: #fff;
	font-size: 100px;
	left: 10px;
	padding: 50px;
	background: #468DC8;
	-webkit-animation: grow 1s;
}
.Modal_Background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99;
}
.Modal_Content {
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 100;
	width: 400px;
	margin-left: -210px;
	height: 380px;
	margin-top: -175px;
	background: #fff;
	border: solid 2px #BBBBBB;
	border-radius: 5px;
	padding: 0px;

}
.Modal_Content h1 {
	background-color: #BBBBBB;
	color: #FFFFFF;
	height: 62px;
	margin: 0px 0px 20px 0px;
	padding-top: 20px;
	text-align: center;
}
.Modal_Content h3 {
	margin: 5px 0px;
	padding: 0px 20px;
}
.Modal_Content p {
	margin: 5px 0px 30px 0px;
	padding: 0px 20px;
}
.BigButton {
	background: #5fac4b;
	border: solid 1px #4f9c3b;
	color: #fff;
	cursor: pointer;
	font-family: Lato;
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 20px;
	outline: none;
	padding: 7px;
	position: relative;
	width: 130px;

	&:hover {
		background: #78DD5E;
		color: #000;
	}
}
.CenteredContent {
	bottom: 0px;
	left: 115px;
	position: absolute;
	margin: 0px;
	text-align: center;
}
.ModeSelection {
	float: right;
	font-size: 16px;
	margin-top: -2px;
}
.ModeSelection h4 {
	display: block;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	text-align: center;
}
.ModeSelection ul{
	list-style: none;
	margin: 0px;
	padding: 0px 12px 0px 0px;
}
.ModeSelection li {
	display: inline-block;
}
.ModeSelection label {
	color: #4DB2E4;
	font-weight: bold;
}
.ModeSelection input[type=radio] {
	cursor: pointer;
	font-size: 22px;
	margin-right: 8px;
}
.ModeSelection input[type=radio]:after {
	display: inline-block;
	visibility: visible;
}
.ModeSelection input[type=radio]:checked:after {
	content: "\272A";
	background-color: #FFFFFF;
	position: relative;
	top: -5px;
	left: -2px;
}
@keyframes grow {
	0% {
		-webkit-transform: scale(0);
	}
	90% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
.Instructions_p1Tutorial {
	position: relative;
	height: 150px;

	.Instructions_table td {
		background-color: #4DB2E4;
		border: solid 1px #4DB2E4;
		color: #4DB2E4;
		height: 32px;
		left: 20px;
		padding: 5px;
		position: relative;
		text-align: center;
		width: 32px;

	}
	.Instructions_table {
		&.animate {
			td {
				animation: fadeInFromWhite 15s;
				//animation-fill-mode: forwards;
				animation-timing-function:steps(3, end);

				&:nth-child(1) {
					animation-delay: 1s;
				}
				&:nth-child(2) {
					animation-delay: 2s;
				}
				&:nth-child(3) {
					animation-delay: 3s;
				}
				&:nth-child(4) {
					animation-delay: 4s;
				}
			}
			.demonstration_cursor {
				animation: introCursor1 8s;
			}
		}
	}
}
.Instructions_p2Tutorial {
	position: relative;
	height: 150px;

	.Instructions_table td,
	.Instructions_table td.oldMoves,
	.Instructions_table2 td {
		background-color: #4DB2E4;
		border: solid 1px #4DB2E4;
		height: 32px;
		left: 20px;
		padding: 5px;
		position: relative;
		text-align: center;
		width: 32px;
	}
	.Instructions_table td.oldMoves {
		color: #FFFFFF;
	}
	.Instructions_table td.blankCell
	{
		background-color: #FFFFFF;
		border: solid 1px #FFFFFF;
	}
	.Instructions_table2 td {
		color: #4DB2E4;
	}
	.Instructions_table {
		&.animate {
			.demonstration_cursor {
				animation: introCursor2 6s;
			}
		}
	}
	.Instructions_table2 {
		&.animate {
			td {
				animation: fadeInFromWhite 8s;
				//animation-fill-mode: forwards;
				animation-timing-function:steps(1, end);

				&:nth-child(1) {
					animation-delay: 1s;
				}
			}
		}
	}
}
.demonstration_win-scenario {
	display: block;
	height: 74px;
	padding-right: 20px;
	position: relative;

	p .demonstration_subheader {
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	p {
		margin: 0px;
		padding-left: 20px;
	}
	.winner-half {
		display: block;
		width: 40%;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
		padding: 0px 20px;
	}
	.demonstration_table td:not(.PlayerOneBoard_number) {
		background-color: #4DB2E4;
		border: solid 1px #4DB2E4;
		color: #FFFFFF;
		font-size: 9px;
		height: 8px;
		left: 20px;
		padding: 2px;
		position: relative;
		text-align: center;
		width: 8px;
	}
	.demonstration_table td.blankCell {
		background-color: #FFFFFF;
		border: solid 1px #FFFFFF;
		height: 2px;
	}
	.demonstration_table td.greenOutline {
		border: 3px solid #78DD5E;
	}
	.demonstration_table td.redOutline {
		border: 3px solid #FF3333;
	}
	td.PlayerOneBoard_number,
	td.PlayerTwoBoard_number {
		background-color: none;
		font-size: 9px;
		height: 8px;
		left: 20px;
		padding: 2px;
		position: relative;
		text-align: center;
		width: 8px;
	}
}
#winner-content-left {
	display: block;
	float: left;
	width: 45%;
}
#winner-content-right {
	display: block;
	float: right;
	width: 45%;
}
.demonstration_cursor {
	transform: translate(290px,80px);
	z-index: 10;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
}
.demonstration_controls {
	position: absolute;
	right: 20px;
	top: 0;
}
.demonstration_button {
	background-color: #4DB2E4;
	border: solid 1px #4DB2E4;
	color: #FFFFFF;
	padding: 15px;
	width: 15px;
	height: 20px;
	margin-bottom: 5px;
	border: solid 1px #aaa;
	display: block;
	text-align: center;
}
.demonstration_row {
	height: 100px;
	width: 100%;
}
@keyframes fadeInFromWhite {
	0% {
		color: #4DB2E4;
	}
	9% {
		color: #4DB2E4;
	}
	10% {
		color: #FFFFFF;
	}
	66% {
		color: #FFFFFF;
	}
	100% {
		color: #4DB2E4;
	}
}
@keyframes introCursor1 {
	0% {
		transform: translate(290px,80px);
	}
	20% {
		transform: translate(350px,30px);
	}
	40% {
		transform: translate(350px,30px);
	}
	50% {
		transform: translate(350px,30px);
	}
	60% {
		transform: translate(330px,80px);
	}
	70% {
		transform: translate(350px,30px);
	}
	100% {
		transform: translate(290px,80px);
	}
}
@keyframes introCursor2 {
	0% {
		transform: translate(290px,80px);
	}
	20% {
		transform: translate(350px,80px);
	}
	70% {
		transform: translate(350px,80px);
	}
	100% {
		transform: translate(290px,80px);
	}
}
