body {
	background: #fff;
}
.Game_header {
	text-align: center;
}
.PlayerOneBoard {
	position: relative;
	margin: auto;
	font-size: 28px;
}
.PlayerOneBoard_number {
	padding: 5px;
}
.PlayerTwoBoard {
	font-size: 28px;
}
.PlayerTwoBoard_number {
	padding: 5px;
}
.NumberBox {
	padding: 5px;
	border: solid 1px #000;
	width: 32px;
	height: 32px;
}
.NumberBox_active {
	background: #a0a;
}
.PlayControls {
	position: absolute;
	right: 10px;
	top: 0px;
}
.PlayControls_button {
	font-size: 30px;
}
