<div class='demo-row'>
	<div class='demo-win'>
		<h2 class='left'>Player 1 has many rows:</h2>
		<div class='right demo-table'>
			<table>
				<tbody>
					<tr ng-repeat='i in [1,2,3,4]'>
						<td ng-repeat='j in [1,2,3,4]'></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<hr/>
<div class='demo-row'>
	<div class='demo-win'>
		<h2 class='left'>Player 2 has a single row:</h2>
		<div class='right demo-table'>
			<table>
				<tbody>
					<tr>
						<td ng-repeat='i in [1,2,3,4]'></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>