body {
	background: #FFFFFF;
	font-family: Lato, sans-serif;
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 33px;
	background: #444;
	padding: 8px;
	z-index: 1000;
	color: #fff;

	&:before {
		content: '';
		display: inline-block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 30px;
		margin: 2px 0 2px 17px;
		vertical-align: middle;
	}

	.title {
		display: inline-block;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 22px !important;
		vertical-align: middle;
		margin: 3px 0 0 0;
		-webkit-font-smoothing: subpixel-antialiased;
	}
}

hr {
	margin: 2px 0px 20px 0px;
}

.game-board {
	position: relative;
	top: 60px;
	font-family: 'Roboto Slab', sans-serif;
}
.player1-board {
	position: relative;
	margin: auto;
	font-size: 28px;
}
.player1-board-number {
	background-color: none;
	cursor: default;
	padding: 5px;
	-webkit-user-select: none;
}
.player2-board {
	font-size: 28px;
	left: 26px;
	position: relative;
	width: 500px;
}
.player2-board-number {
	background-color: none;
	cursor: default;
	padding: 5px;
	-webkit-user-select: none;
}
.number-box {
	background: #4DB2E4;
	border: none;
	color: #FFFFFF;
	cursor: default;
	font-family: Lato;
	font-size: 18px;
	height: 24px;
	padding: 10px 5px 8px 5px;
	text-align: center;
	-webkit-user-select: none;
	width: 32px;

	&.active {
		background: #78DD5E;
		animation: highlightPulse 1s infinite;
	}
}
.inactive div {
	background: #89C6E4;
}
@keyframes highlightPulse {
	0% {
		background: #78DD5E;
	}
	50% {
		background: #FFF;
	}
	100% {
		background: #78DD5E;
	}
}
.play-controls {
	position: absolute;
	right: 40px;
	top: 0px;
	text-align: center;

	button {
		background: #5FAC4B;
		border: solid 1px #4F9C3B;
		color: #FFFFFF;
		cursor: pointer;
		display: inline-block;
		font-family: Lato;
		font-size: 20px;
		margin: auto;
		margin-right: 10px;
		margin-left: 5px;
		margin-bottom: 10px;
		padding: 30px;
		width: 100px;

		&:hover {
			background: #78DD5E;
			color: #000;
		}
		&:active {
			background: #5FAC4B;
			color: #FFF;
		}
		&:focus {
			outline: 0;
		}
	}

	&.hidden {
		display: none;
	}
	&.second {
		top: 220px;
	}
}

.loading {
	background-color: #FFFFFF;
	background: url("assets/loadingWheel.gif");
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position: center;
	left: center;
	margin: 0px auto 0px auto;
	padding: 50px;
	position: relative;
	z-index: 10000;
	-webkit-animation: grow 0s;
}
.turn-transition {
	position: fixed;
	text-align: center;
	background: #000;
	color: #fff;
	font-size: 50px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 50px;
	background: #468DC8;
	z-index: 100;
	-webkit-animation: grow 0s;
}

.modal {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99;
}

.modal-content {
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 100;
	width: 400px;
	margin-left: -210px;
	height: 380px;
	margin-top: -175px;
	background: #fff;
	border: solid 2px #BBBBBB;
	border-radius: 5px;
	padding: 0px;
	overflow-x: hidden;

	h1 {
		background-color: #BBBBBB;
		color: #FFFFFF;
		height: 62px;
		margin: 0px 0px 20px 0px;
		padding-top: 20px;
		text-align: center;
	}

	h3 {
		margin: 5px 0px;
		padding: 0px 20px;
	}

	p {
		margin: 5px 0px 30px 0px;
		padding: 0px 20px;
	}
}

.big-button {
	background: #5fac4b;
	border: solid 1px #4f9c3b;
	color: #fff;
	cursor: pointer;
	font-family: Lato;
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 20px;
	outline: none;
	padding: 7px;
	position: relative;
	width: 130px;

	&:hover {
		background: #78DD5E;
		color: #000;
	}
	&:active {
		background: #5FAC4B;
		color: #FFF;
	}
}

.centered {
	bottom: 0px;
	left: 115px;
	position: absolute;
	margin: 0px;
	text-align: center;
}

#end-buttons {
	left: 35px;
}

.mode-select, .size-select {
	position: absolute;
	right: 0;
	bottom: 30px;
	font-size: 16px;

	h4 {
		display: block;
		margin: 0px;
		padding: 0px 20px 0px 0px;
		text-align: center;
	}

	ul {
		list-style: none;
		margin: 0px;
		padding: 0px 12px 0px 0px;
	}

	li {
		display: inline-block;
	}

	label {
		color: #4DB2E4;
		font-weight: bold;
	}

	input[type=radio] {
		cursor: pointer;
		font-size: 22px;
		margin-right: 8px;

		&:after {
			display: inline-block;
			visibility: visible;
		}

		&:checked:after {
			content: "\272A";
			background-color: #FFFFFF;
			position: relative;
			top: -5px;
			left: -2px;
		}
	}
}

.size-select {
	position: relative;
	margin: 50px auto;
	padding-left: 35px;

	ul {
		margin-top: 20px;
	}
}

@keyframes grow {
	0% {
		-webkit-transform: scale(0);
	}
	90% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
.player1-instructions {
	position: relative;
	height: 150px;

	.instructions-table {
		td {
			background-color: #4DB2E4;
			border: solid 1px #4DB2E4;
			color: #4DB2E4;
			height: 32px;
			left: 20px;
			padding: 5px;
			position: relative;
			text-align: center;
			width: 32px;

		}

		&.animate {
			td {
				animation: fadeInFromWhite 15s;
				animation-timing-function:steps(3, end);

				&:nth-child(1) {
					animation-delay: 1s;
				}
				&:nth-child(2) {
					animation-delay: 2s;
				}
				&:nth-child(3) {
					animation-delay: 3s;
				}
				&:nth-child(4) {
					animation-delay: 4s;
				}
			}
			.demo-cursor {
				animation: introCursor1 8s;
			}
		}
	}
}
.player2-instructions {
	position: relative;
	height: 150px;

	.instructions-table td,
	.instructions-table2 td {
		background-color: #4DB2E4;
		border: solid 1px #4DB2E4;
		height: 32px;
		left: 20px;
		padding: 5px;
		position: relative;
		text-align: center;
		width: 32px;
	}

	.instructions-table {
		td {
			&.old-moves {
				color: #FFFFFF;
			}
			&.blank-cell
			{
				background-color: #FFFFFF;
				border: solid 1px #FFFFFF;
			}
		}

		&.animate {
			.demo-cursor {
				animation: introCursor2 6s;
			}
		}
	}
	.instructions-table2 {
		td {
			color: #4DB2E4;
		}

		&.animate {
			td {
				animation: fadeInFromWhite 8s;
				animation-timing-function:steps(1, end);

				&:nth-child(1) {
					animation-delay: 1s;
				}
			}
		}
	}
}
.demo-win {
	display: block;
	height: 74px;
	padding-right: 20px;
	position: relative;

	aside {
		float: left;
		width: 250px;
	}

	h2 {
		margin: 0px;
		padding-left: 20px;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.left {
		float: left;
	}
	.right {
		float: right;
		padding: 0px 20px;
	}

	.demo-table td:not(.player1-board-number) {
		background-color: #4DB2E4;
		border: solid 1px #4DB2E4;
		color: #FFFFFF;
		font-size: 9px;
		height: 8px;
		left: 20px;
		padding: 2px;
		position: relative;
		text-align: center;
		width: 8px;
	}
	.demo-table td.blank-cell {
		background-color: #FFFFFF;
		border: solid 1px #FFFFFF;
		height: 2px;
	}
	.demo-table td.green {
		border: 3px solid #78DD5E;
	}
	.demo-table td.red:not(.green) {
		border: 3px solid #FF3333;
	}
	td.player1-board-number,
	td.player2-board-number {
		background-color: none;
		cursor: default;
		font-size: 9px;
		height: 8px;
		left: 20px;
		padding: 2px;
		position: relative;
		text-align: center;
		-webkit-user-select: none;
		width: 8px;
	}
}

hr {
	clear: both;
}

#winner-content-left {
	display: block;
	float: left;
	width: 45%;
}
#winner-content-right {
	display: block;
	float: right;
	width: 45%;
}
.demo-cursor {
	transform: translate(290px,80px);
	z-index: 10;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
}
.demo-controls {
	position: absolute;
	right: 20px;
	top: 0;
}
.demo-button {
	background-color: #4DB2E4;
	border: solid 1px #4DB2E4;
	color: #FFFFFF;
	padding: 15px;
	width: 15px;
	height: 20px;
	margin-bottom: 5px;
	border: solid 1px #aaa;
	display: block;
	text-align: center;
}
.demo-row {
	height: 100px;
	width: 100%;
}
@keyframes fadeInFromWhite {
	0% {
		color: #4DB2E4;
	}
	9% {
		color: #4DB2E4;
	}
	10% {
		color: #FFFFFF;
	}
	66% {
		color: #FFFFFF;
	}
	100% {
		color: #4DB2E4;
	}
}
@keyframes introCursor1 {
	0% {
		transform: translate(290px,80px);
	}
	20% {
		transform: translate(350px,30px);
	}
	40% {
		transform: translate(350px,30px);
	}
	50% {
		transform: translate(350px,30px);
	}
	60% {
		transform: translate(330px,80px);
	}
	70% {
		transform: translate(350px,30px);
	}
	100% {
		transform: translate(290px,80px);
	}
}
@keyframes introCursor2 {
	0% {
		transform: translate(290px,80px);
	}
	20% {
		transform: translate(350px,80px);
	}
	70% {
		transform: translate(350px,80px);
	}
	100% {
		transform: translate(290px,80px);
	}
}
